<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>JQUERY-mobile 实例 - 滑动导航栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    <div data-role="page" id="pageone">
        <div data-role="panel" id="overlayPanel" data-display="overlay">
            <h2>用户信息</h2>
            <p>你可以使用按下 Esc 键、点击面板外部区域、通过滑动或点击下面按钮来关闭面板：</p>
            <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">关闭面板</a>
        </div>
        <div data-role="panel" id="revealPanel" data-display="reveal">
            <h2>滑出面板</h2>
            <p>你可以使用按下 Esc 键、点击面板外部区域、通过滑动或点击下面按钮来关闭面板：</p>
            <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">关闭面板</a>
        </div>
        <div data-role="panel" id="pushPanel" data-display="push">
            <h2>推动面板</h2>
            <p>你可以使用按下 Esc 键、点击面板外部区域、通过滑动或点击下面按钮来关闭面板：</p>
            <a href="#pageone" data-rel="close" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">关闭面板</a>
        </div>

        <div data-role="header" style="background-color:#000000;text-shadow:none;height:60px;">
            <a href="#" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext" style="margin-top:7px;">图标</a><h1 style="margin-left:40px;color:white;margin-top:7px;" >白云区人力资源和社会保障局</h1>
            <a href="#overlayPanel" class="ui-btn ui-corner-all ui-icon-bars ui-btn-icon-notext" style="margin-top:7px;"></a>
        </div>





        <div  data-role="main" class="ui-content">
            @RenderBody()



        </div>

        <div data-role="footer" style="margin-bottom:-100px;">
            <h1>页面底部</h1>
        </div>
    </div>
    
</body>
</html>