
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/PageCss/theme.css" type="text/css">
</head>
<body>

    <div class="navbar-header">
        <ul class="nav nav-pills">
            <li class="nav-item" style="width:100%">
                <!--style="width:100%"-->
                <a class="active nav-link" href="#"> <i class="fa fa-home fa-home"></i>白云区人力资源和社会保障局</a>
            </li>
            <li>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>

    </div>


    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="bg-primary card-block">
                            <h1 class="card-title text-white">白云区社保中心</h1>
                            <h2 class="text-white">案件</h2>
                        </div>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">违法投诉</li>
                            <li class="list-group-item">欠费催缴</li>
                            <li class="list-group-item">信访案件</li>
                        </ul>
                        <div class="card-block ">
                            <a href="#" class="btn btn-block btn-lg btn-primary">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <ul class="nav nav-pills">
            <li class="nav-item" style="width:100%">
                <a class="active nav-link" href="#"> <i class="fa fa-home fa-home"></i>白云区人力资源和社会保障局</a>
            </li>
        </ul>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>


</body>
</html>
